<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>{{title}}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equip="Cache-Control" content="no-cache, no-store, must-revalidate"/>
		<meta http-equip="Pragma" content="no-cache"/>
		<meta http-equip="Expires" content="0"/>
		<link href="assets/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="zone_effect" id="zone_effect1"></div>
    <div class="zone_effect" id="zone_effect2"></div>
    <div class="zone_effect" id="zone_effect3"></div>

		<main>
			{% if ping_success %}
				{% include "has_internet.html" %}
			{% else %}
				{% include "has_not_internet.html" %}
			{% endif %}
		</main>
		<footer>
			<div id="copyright">&copy; <span id="copyright_year"></span></div>
		</footer>

		<script>
			document.querySelector("#copyright_year").innerHTML =
				new Date().getFullYear();
		</script>
	</body>
</html>
