<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>{{title}}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="assets/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="zone_effect" id="zone_effect1"></div>
    <div class="zone_effect" id="zone_effect2"></div>
    <div class="zone_effect" id="zone_effect3"></div>

		{% if ping_success %}
			{% include "has_internet.html" %}
		{% else %}
			{% include "has_not_internet.html" %}
		{% endif %}
	</body>
</html>
